In [60]:
import pandas as pd
import numpy as np

In [61]:
#Print the dataset iris 
df=pd.read_csv('iris.csv')
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [62]:
#Print the structure of the dataset iris 
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB
None

In [63]:
#Print the summary of all the variables of the dataset iris (Hint: Use function summary()) 
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [64]:
#How many of the variables (columns) are in the dataset iris 
'''n=df.columns.values
print(n.shape[0])
n=df.columns
print(len(n))'''
print("No of columns :",df.shape[1])

No of columns : 6

In [65]:
#How many observations (rows) are in the dataset iris 
print("No of rows :",df.shape[0])

No of rows : 150

In [66]:
#Use duplicated() function to print the logical vector indicating the duplicate values present in the dataset iris 
df1=df[["SepalLengthCm","SepalWidthCm","PetalLengthCm","PetalWidthCm","Species"]]
n=df1.duplicated()
n

0      False
1      False
2      False
3      False
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Length: 150, dtype: bool

In [67]:
#Extract duplicate elements from the dataset iris 
df[df1.duplicated()]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
34,35,4.9,3.1,1.5,0.1,Iris-setosa
37,38,4.9,3.1,1.5,0.1,Iris-setosa
142,143,5.8,2.7,5.1,1.9,Iris-virginica

In [68]:
#Extract unique elements from the dataset iris 
df[df1.duplicated()==False]

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [69]:
#Print the indices of duplicate elements in the dataset iris 
df[df1.duplicated()].index

Int64Index([34, 37, 142], dtype='int64')

In [70]:
#Print the indices of unique elements in the dataset iris 
df[~df1.duplicated()].index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            139, 140, 141, 143, 144, 145, 146, 147, 148, 149],
           dtype='int64', length=147)

In [71]:
#How many unique elements are in the dataset iris 
df[~df1.duplicated()].shape[0]

147

In [72]:
#How many duplicate elements are in the dataset iris 
df[df1.duplicated()].shape[0]

3

In [73]:
#Print  the sorted elements in the dataset iris(Ascending  order based on index)

In [78]:
#find whether any missing values are in the dataset iris

In [22]:
#display how many missing values are present in each column.

In [23]:
#replace all missing values with zero

In [29]:
#Calculate  Petal width mean ,median ,SD,Variance  for the species setosa
df1=df[df['Species']=='Iris-setosa']
print("Mean :",df1['PetalWidthCm'].mean())
print("Median :",df1['PetalWidthCm'].median())
print("Standard Deviation :",df1['PetalWidthCm'].std())
print("Variance :",df1['PetalWidthCm'].var())

Mean : 0.2439999999999999
Median : 0.2
Standard Deviation : 0.10720950308167837
Variance : 0.011493877551020404

In [32]:
#Print from 10th row to 20th row of iris dataset.
df[10:21]

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa
12  13            4.8           3.0            1.4           0.1  Iris-setosa
13  14            4.3           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           4.4            1.5           0.4  Iris-setosa
16  17            5.4           3.9            1.3           0.4  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa
18  19            5.7           3.8            1.7           0.3  Iris-setosa
19  20            5.1           3.8            1.5           0.3  Iris-setosa
20  21            5.4           3.4            1.7           0.2  Iris-setosa

In [33]:
#Print Species and its corresponding Petal length and Width .
df[['Species','PetalLengthCm','PetalWidthCm']]

            Species  PetalLengthCm  PetalWidthCm
0       Iris-setosa            1.4           0.2
1       Iris-setosa            1.4           0.2
2       Iris-setosa            1.3           0.2
3       Iris-setosa            1.5           0.2
4       Iris-setosa            1.4           0.2
..              ...            ...           ...
145  Iris-virginica            5.2           2.3
146  Iris-virginica            5.0           1.9
147  Iris-virginica            5.2           2.0
148  Iris-virginica            5.4           2.3
149  Iris-virginica            5.1           1.8

[150 rows x 3 columns]

In [34]:
#display records only with species "Iris-setosa"
df[df['Species']=='Iris-setosa']

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           0.2  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           3.6            1.4           0.2  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa
12  13            4.8           3.0            1.4           0.1  Iris-setosa
13  14            4.3           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           4.4            1.5           0.4  Iris-setosa
16  17            5.4           3.9            1.3           0.4  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa
18  19            5.7           3.8            1.7           0.3  Iris-setosa
19  20            5.1           3.8            1.5           0.3  Iris-setosa
20  21            5.4           3.4            1.7           0.2  Iris-setosa
21  22            5.1           3.7            1.5           0.4  Iris-setosa
22  23            4.6           3.6            1.0           0.2  Iris-setosa
23  24            5.1           3.3            1.7           0.5  Iris-setosa
24  25            4.8           3.4            1.9           0.2  Iris-setosa
25  26            5.0           3.0            1.6           0.2  Iris-setosa
26  27            5.0           3.4            1.6           0.4  Iris-setosa
27  28            5.2           3.5            1.5           0.2  Iris-setosa
28  29            5.2           3.4            1.4           0.2  Iris-setosa
29  30            4.7           3.2            1.6           0.2  Iris-setosa
30  31            4.8           3.1            1.6           0.2  Iris-setosa
31  32            5.4           3.4            1.5           0.4  Iris-setosa
32  33            5.2           4.1            1.5           0.1  Iris-setosa
33  34            5.5           4.2            1.4           0.2  Iris-setosa
34  35            4.9           3.1            1.5           0.1  Iris-setosa
35  36            5.0           3.2            1.2           0.2  Iris-setosa
36  37            5.5           3.5            1.3           0.2  Iris-setosa
37  38            4.9           3.1            1.5           0.1  Iris-setosa
38  39            4.4           3.0            1.3           0.2  Iris-setosa
39  40            5.1           3.4            1.5           0.2  Iris-setosa
40  41            5.0           3.5            1.3           0.3  Iris-setosa
41  42            4.5           2.3            1.3           0.3  Iris-setosa
42  43            4.4           3.2            1.3           0.2  Iris-setosa
43  44            5.0           3.5            1.6           0.6  Iris-setosa
44  45            5.1           3.8            1.9           0.4  Iris-setosa
45  46            4.8           3.0            1.4           0.3  Iris-setosa
46  47            5.1           3.8            1.6           0.2  Iris-setosa
47  48            4.6           3.2            1.4           0.2  Iris-setosa
48  49            5.3           3.7            1.5           0.2  Iris-setosa
49  50            5.0           3.3            1.4           0.2  Iris-setosa

In [40]:
#count number of times a particular species has occurred.
df['Species'].value_counts()

Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: Species, dtype: int64

In [39]:
#Identifying minimum and maximum Value of Sepal width.
df1=df['SepalWidthCm']
print("Min :",df1.min())
print("Max :",df1.max())

Min : 2.0
Max : 4.4

In [57]:
#Add new column to store sum of  first column values
df1=df[['Id','SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']].copy()
df['sum']=df1.sum(axis=1)
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species,sum
0,1,5.1,3.5,1.4,0.2,Iris-setosa,11.2
1,2,4.9,3.0,1.4,0.2,Iris-setosa,11.5
2,3,4.7,3.2,1.3,0.2,Iris-setosa,12.4
3,4,4.6,3.1,1.5,0.2,Iris-setosa,13.4
4,5,5.0,3.6,1.4,0.2,Iris-setosa,15.2
...,...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica,163.2
146,147,6.3,2.5,5.0,1.9,Iris-virginica,162.7
147,148,6.5,3.0,5.2,2.0,Iris-virginica,164.7
148,149,6.2,3.4,5.4,2.3,Iris-virginica,166.3
149,150,5.9,3.0,5.1,1.8,Iris-virginica,165.8